.About {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility -- sighted users will see labels below) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5rem;
  }
}
