$dark-blue: #090773;
$light-blue: #0313fc;
$gray: #868e96;
$light-gray: #f1f3f5;
$extra-light-gray: #f8f9fa;

.About--Profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: $dark-blue;
  max-width: 1000px;
  margin: 0 auto;
  .Personal--Details {
    background: #fff;
    flex-basis: 30%;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .avatar {
      text-align: center;
    }
    .fa-user {
      font-size: 7rem;
      color: black;
    }
    .username {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0.75rem 0 0 0;
    }
    .job-title {
      margin: 0;
    }
    .info {
      p {
        padding: 0.2rem;
        border-bottom: 1px solid $light-gray;
      }
      .button {
        background: $light-blue;
      }
      .fas {
        color: gray;
        margin: 0 0.5rem 0 0;
      }
    }
  }
  .Background {
    flex-basis: 69%;
    padding: 1rem;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    border-radius: 0.25rem;

    .WrkExpDiv {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0 0.5rem 0;
      border-bottom: 1px solid $gray;
      .left {
        h4 {
          margin: 0 0 0.5rem 0;
          font-size: 1.1rem;
        }
        p {
          margin: 0;
          font-size: 0.8rem;
          color: $gray;
        }
        .fas {
          margin-right: 0.5rem;
        }
      }
      .right {
        .fas {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .About--Profile {
    .Personal--Details {
      background: lightcoral;

      flex-basis: 90%;
    }
    .Experience {
      background: lightcyan;
      flex-basis: 90%;
    }
  }
}
