$dark-blue: #090773;
$light-blue: #0313fc;
$gray: #868e96;
$light-gray: #f1f3f5;
$extra-light-gray: #f8f9fa;

.About--Profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: $dark-blue;
  max-width: 1000px;
  margin: 0 auto;
  .Personal--Details {
    background: #fff;
    flex-basis: 30%;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .avatar {
      text-align: center;
    }
    .fa-user {
      font-size: 7rem;
      color: black;
    }
    .username {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0.75rem 0 0 0;
    }
    .job-title {
      margin: 0;
    }
    .info {
      p {
        padding: 0.2rem;
        border-bottom: 1px solid $light-gray;
      }
      .button {
        background: $light-blue;
      }
      .fas {
        color: gray;
        margin: 0 0.5rem 0 0;
      }
    }
  }
  .Background {
    flex-basis: 69%;
    padding: 1rem;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    border-radius: 0.25rem;
    margin: 0 0 0 0;
    .WrkExpDiv {
      display: flex;
      justify-content: space-between;
      padding: 0 0 1.5rem 0;
      border-bottom: 1px solid $gray;

      p {
        margin: 0;
      }
      .left {
        .job-title {
          font-size: 1.15rem;
          margin: 0 0 0.25rem 0;
        }
        .company-industry {
          color: $gray;
          font-size: 0.75rem;
          font-weight: bold;
        }
        .fas {
          margin-right: 0.25rem;
        }
        .fa-industry {
          margin-left: 2rem;
        }
      }
      .right {
        text-align: center;
        .work-type {
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
          font-weight: bold;
          background-color: lightgreen;
          border-radius: 1rem;
          text-align: center;
          margin: 0 0 0.25rem 0;
        }
        .start-end {
          color: $gray;
          font-size: 0.75rem;
          font-weight: bold;
          .fas {
            margin-right: 0.25rem;
          }
        }
      }
    }
    .EduDiv {
      color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding: 0 0 1.5rem 0;
      p {
        margin: 0;
        font-size: 0.75rem;
        color: $gray;
        font-weight: bold;
      }

      .qualification {
        font-size: 1.15rem;
        color: $dark-blue;
        font-weight: 400;
      }
    }
    .SkillsDiv {
      border-bottom: 1px solid $gray;
      padding: 0 0 1.5rem 0;
      p {
        color: $gray;
        font-size: 0.75rem;
        margin: 0;
        font-weight: bold;
      }
      .Skill-title {
        font-size: 1.15rem;
        color: $dark-blue;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 500px) {
  .About--Profile {
    .Personal--Details {
      background: lightcoral;

      flex-basis: 90%;
    }
    .Experience {
      background: lightcyan;
      flex-basis: 90%;
    }
  }
}
