.CandidatesList {
  /* Force table to not be like tables anymore */

  table,
  thead,
  tbody,
  th,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility -- sighted users will see labels below) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
    display: flex;
    flex-flow: column wrap;
  }
  td {
    border: none;
  }
  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    .fas {
      font-size: 1.1rem;
    }
    .fa-thumbs-up {
      margin-right: 0.5rem;
      color: green;
    }
    .fa-times {
      color: red;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 599px) {
  .CandidatesList {
    table {
    }
    tr {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@media screen and (min-width: 950px) {
  .CandidatesList {
    table {
    }
    td::before {
      content: "";
    }
    thead tr {
      position: static;
    }
    thead,
    tbody {
      display: table-row-group;
    }
    th,
    td {
      display: table-cell;
      padding: 0.5em;
    }
    tr {
      display: table-row;
    }
    table {
      display: table;
    }
  }
}
