.CandidatesAccount {
  width: 90vw;
  height: 70vh;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  aside {
    background: white;
    flex-basis: 20%;
    box-shadow: 2px 2px 10px #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        padding: 0.5rem;

        color: $gray;
        span {
          margin-right: 0.5rem;
        }
      }
      li:hover {
        color: $dark-blue;
        background: $light-gray;
      }
    }
    .settings {
      margin: 0;
      padding: 0;
      color: $gray;
      p {
        padding: 0.5rem;
        span {
          margin-right: 0.5rem;
        }
        &:hover {
          color: $dark-blue;
          background: $light-gray;
        }
      }
    }
  }
  .Content {
    background: white;
    flex-basis: 80%;
    box-shadow: 2px 2px 10px #ccc;
    border-radius: 0.2rem;
  }
}

.Credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .CredentialsForm {
    //  background: $light-gray;
    padding: 1rem;
    box-shadow: 0 0 3px #ccc;
    input:not([type="radio"]):not([type="checkbox"]),
    textarea {
      width: 20rem;
    }
    .field {
      text-align: center;
    }
  }
}

.CandidatesList {
  /* Force table to not be like tables anymore */

  table,
  thead,
  tbody,
  th,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility -- sighted users will see labels below) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
    display: flex;
    flex-flow: column wrap;
  }
  td {
    border: none;
  }
  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    .fas {
      font-size: 1.1rem;
    }
    .fa-thumbs-up {
      margin-right: 0.5rem;
      color: green;
    }
    .fa-times {
      color: red;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 599px) {
  .CandidatesList {
    table {
    }
    tr {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@media screen and (min-width: 950px) {
  .CandidatesList {
    table {
    }
    td::before {
      content: "";
    }
    thead tr {
      position: static;
    }
    thead,
    tbody {
      display: table-row-group;
    }
    th,
    td {
      display: table-cell;
      padding: 0.5em;
    }
    tr {
      display: table-row;
    }
    table {
      display: table;
    }
  }
}
