$dark-blue: #090773;
$light-blue: #0313fc;
$gray: #868e96;
$light-gray: #f1f3f5;
$extra-light-gray: #f8f9fa;

.Home--hero {
  height: 30vh;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 0.25rem;
  // background: url("../img/despaired-2261021_1280.jpg") no-repeat center center
  //   fixed;
  background-color: $dark-blue;
  color: #0a0a0b;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
  }

  .flex-form {
    display: flex;
    padding: 0 0 0 0.5rem;

    line-height: 3.2rem;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;

    input[type="search"] {
      flex-basis: 40vw;
      width: 19rem;
    }

    input[type="submit"] {
      background: #ef3f5a;
      border: 1px solid #ef3f5a;
      color: #fff;
      //padding: 0 3rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: #d73851;
        border: 1px solid #d73851;
      }
    }
  }
}

.LatestJobs {
  width: 60vw;
  margin: 0 auto;
  padding: 1rem;
  color: $dark-blue;
  .Home--Job {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    border-bottom: 1px solid $light-gray;
    border-radius: 0.25rem;

    p {
      margin: 0;
    }
    .left {
      p {
        color: $gray;
        font-size: 0.75rem;
        font-weight: bold;
      }
      .jobTitle {
        font-size: 1rem;
        font-weight: 400;
        color: $dark-blue;
      }
      .job-meta {
        display: flex;
        .fas {
          color: $gray;
          margin-right: 0.2rem;
        }
        .fa-map-marker-alt {
          margin-left: 2rem;
        }
      }
    }
    .right {
      text-align: center;
      p {
        color: $gray;
        font-size: 0.75rem;
        font-weight: bold;
      }
      .fas {
        color: $gray;
        margin-right: 0.2rem;
      }
      .work-type {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: $dark-blue;
        background-color: lightgreen;
        border-radius: 1rem;
        text-align: center;
        margin: 0 0 0.25rem 0;
      }
    }
  }
  .cta-alljobs {
    text-align: center;
  }
}

.Home {
  h3 {
    text-align: center;
  }
  .Tabs {
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Tabs--row {
      .tab {
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin: 0px 2px;
        background: inherit;
        border-radius: 3px 3px 0px 0px;
        //box-shadow: 0 0.5rem 0.8rem #00000080;
        font-weight: bold;
        color: $dark-blue;
        &.selected {
          background: lightpink;
          color: $dark-blue;
          //border: 1px solid $dark-blue;
        }
        &:hover {
          color: $light-blue;
        }
      }
    }

    .Tabs--panel {
      background-color: #fffffff6;
      box-shadow: 0 2rem 2rem #00000080;
      min-height: 200px;
      border-radius: 3px;
      overflow: hidden;
      padding: 20px;
    }
  }
  .JobSort {
    display: flex;
    ul {
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }
    ul:last-child {
      margin-right: 2rem;
    }
  }
}
