.SignInAndSignUp {
  width: 40vw;
  max-width: 400px;
  margin: 0 auto;

  .Tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Tabs--row {
      .tab {
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin: 0px 2px;
        background: $dark-blue;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
        &.selected {
          background: #fffffff6;
          color: #000;
          border-top: 3px solid $dark-blue;
        }
      }
    }
  }
  .Tabs--panels {
    background-color: #fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 80vw;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
  }
}

.SignIn,
.SignUp {
  legend,
  p,
  label {
    text-align: center;
  }
  input:not([type="radio"]):not([type="checkbox"]) {
    width: 18rem;
    max-width: 25rem;
    margin: 0 auto;
  }

  .field + .field {
    margin-top: 1rem;
  }
  .buttons {
    margin: 0.5rem 0 0 0;
    text-align: center;
    button + button {
      margin-left: 0.25rem;
    }
  }
}
