/* [class*="Profile--"] {
  --columns: 12;
  --width: 0;
  border: 1px dotted magenta;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
} */

.Profile {
  width: 50vw;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 16;
}

.item1,
.item2 {
  --width: 16;
  --initialbasis: calc(var(--width, 0) / var(--columns, 16) * 100%);
  flex-basis: var(--initialbasis);
}

@media (min-width: 740px) {
  .flex {
    --columns: 11;
  }
  .item1 {
    --width: 3;
  }
  .item2 {
    --width: 8;
  }
}
